//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 23 21:05:36 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an" LOCATE = SITE "E13" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "CLKwy" LOCATE = SITE "B14" LEVEL 1;
COMP "clr" LOCATE = SITE "L14" LEVEL 1;
COMP "SA" LOCATE = SITE "E14" LEVEL 1;
COMP "SB" LOCATE = SITE "G13" LEVEL 1;
COMP "SC" LOCATE = SITE "N15" LEVEL 1;
COMP "WE1<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "SD" LOCATE = SITE "P15" LEVEL 1;
COMP "SE" LOCATE = SITE "R16" LEVEL 1;
COMP "WE1<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "SF" LOCATE = SITE "F13" LEVEL 1;
COMP "SG" LOCATE = SITE "N16" LEVEL 1;
COMP "WE1<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "WE1<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "WE2<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "WE1<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "WE2<1>" LOCATE = SITE "B8" LEVEL 1;
COMP "WE1<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "WE2<2>" LOCATE = SITE "A13" LEVEL 1;
COMP "WE1<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "WE2<3>" LOCATE = SITE "A12" LEVEL 1;
COMP "WE1<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "WE2<4>" LOCATE = SITE "B11" LEVEL 1;
COMP "WE2<5>" LOCATE = SITE "B10" LEVEL 1;
COMP "WE2<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "WE2<7>" LOCATE = SITE "A7" LEVEL 1;
COMP "grzalka" LOCATE = SITE "K12" LEVEL 1;
COMP "WY<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "WY<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "WY<2>" LOCATE = SITE "F14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

